<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ThouConduit</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/videos">Home</a></li>
      <li><a href="/videos/new">Submit Video</a></li>
    </ul>
  </nav>
  <header>
    <h1> <%= @header %> </h1>
  </header>
  <main>
    
    <%= yield %>

  </main>
</body>
</html>